---
import Layout from "@/layouts/main.astro"
import { AppShell } from "@/components/app-shell"
import { getContentTree } from "@/lib/content-tree"

const tree = await getContentTree()
---

<Layout>
  <AppShell client:load tree={tree}>
    <div class="typeset typeset-docs">
      <h1>Awesome Comparisons</h1>
      <p>
        Browse the sidebar to read guides, comparisons, and reference docs
        rendered straight from Markdown in <code>src/content/docs</code>.
      </p>
      <p>
        <a href="/content/introduction">Start with the introduction &rarr;</a>
      </p>
    </div>
  </AppShell>
</Layout>
